table
{
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

td, th
{
	border: 2px solid black;
}
tr:nth-child(even)
{	background-color: #dddddd;
}
.one
{
	text-align: center;
}